body{
    background-image: url(../images/assets/404_img.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width:  100%;
}

.left__404{
    background-color:transparent;
    width: 40%;
}

.text_2{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.849);
    margin-bottom: 2rem;
}

.right__404{    
    width: 30%;
    margin-left: -25rem;
}

.right__404>h1{
    font-size: 240px;
    letter-spacing: -15px;
    line-height: .85em;
    text-align: center;
}
.right__404>p{
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
}
