@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    /* Roboto Family */
    font-style: var(--weight--normal);
    background-color: var(--body--main--color);
    color: var(--font--black--color);
    overflow-x: hidden;


}

.container img:nth-child(1) {
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 351px;
    pointer-events: none;
    margin-top: 19.5px;
    transform: translate3d(0px, -19.5px, 0px);
    z-index: -1;
    overflow-x: hidden;

}


.container h1 {
    color: white;
    margin-top: 151px;
    margin-bottom: 10px;
    letter-spacing: -2px;
    font-size: 50px;
    margin-left: 42%;
}

.left {
    width: 49%;

}

.right {
    width: 43%;
    position: absolute;
    right: 0;
    top: 421px;
    font-size: large;
    margin-right: 53px;
    /* letter-spacing: 1.1px; */
    line-height: 30px;
    overflow-x: hidden;
}




.container .lower h2 {
    margin-top: 213px;
    margin-bottom: 10px;
    font-size: 42px;
    letter-spacing: -1.8px;
    line-height: 50px;
    padding-left: 80px;
}


.id-color {
    color: #00b74a;
}

.boxes {
    display: flex;
    gap: 26px;
}

.box {
    width: 261px;
    height: 127.2px;
    /* border: 2px solid red; */
    border-radius: 8px;
    position: relative;
    top: 164px;
    left: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: rgb(245, 245, 245);

}

.box>h2 {
    font-size: 37px;
}

.box>span {
    margin-bottom: 2px;
}

.container2 {
    margin-top: 280px;
    height: 100vh;
    width: 100vw;
}

.container2 .office {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.container2 .main-heading {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 500px;
    font-size: 42px;
    letter-spacing: -1.5px;
    line-height: 50px;
    color: white;
}

.images{
    display: flex;
    justify-content: center;
    
}


.image {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    margin-top: -459px;
    margin-left: 27px;
    color: white;

}

.im img {
    border-radius: 7px;
    height: 261px;
    width: 261px;
}

.icons{
    
    display: flex;
    gap: 10px;
    position: relative;
  top: -81px;
}

.icons a{
    text-decoration: none;  
    background-color: #00b74a;  
    border-radius: 7px;   
}

.icons i{
    display: flex;
    justify-content: center;    
    align-items: center;
    color: white;
    height: 29.2px;
    width: 28px;
}


.hidden-left{
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s;
}
.hidden-right{
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s;
}
.hidden-down{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0%);
}
.show-down {
    opacity: 1;
    transform: translateX(0%);
}

.features{
    height: 100vh;
    width: 100vw;
}

.features h2{
    color: black;
    margin-top: 70px;
  margin-bottom: 10px;
  font-size: 42px;
  letter-spacing: -1.8px;
  line-height: 50px;
  text-align: center !important;
  word-spacing: 0px;
}

.leftt{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-left: 44px;
    height: 338px;
    width: 285px;
}

.rightt{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-left: 44px;
    height: 338px;
    width: 285px;
}

.right01{
    position: relative;
    left: -20px;
}
.right02{
    position: relative;
    left: -20px;
}

.right01 i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #00b74a;
    color: white;
    height: 54px;
    width: 54px;
    font-size: 32px;
}
.right02 i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #00b74a;
    color: white;
    height: 54px;
    width: 54px;
    font-size: 32px;
}

.left01 i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #00b74a;
    color: white;
    height: 54px;
    width: 54px;
    font-size: 32px;
    
}


.inner1{
    position: relative;
  left: 75px;
  top: -53px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  line-height: 24px;
  width: 231px;

}
.inner3{
    position: relative;
  left: 75px;
  top: -53px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  line-height: 24px;
  width: 231px;

}
.inner2{
    position: relative;
    left: 75px;
    top: -53px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    line-height: 24px;
    width: 231px;

}
.inner4{
    position: relative;
    left: 75px;
    top: -53px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    line-height: 24px;
    width: 231px;
}


.left02 i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #00b74a;
    color: white;
    height: 54px;
    width: 54px;
    font-size: 32px;
}


.carimg img{
    width: 546px;
    height: 257.867px;
    margin-top: 64px;
  margin-left: 34px;

    
}

.feat{
    display: flex;
}

.qualin{
    display: flex;
    gap: 20px;
}

.driver-img img{
    width: 640px;
    height: 520.2px;
    object-fit: cover;
    
    
}

.content{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 475px;
    height: 340.2px;
    margin-left: 82px;
}



.content h2{
    font-size: 42px;
    letter-spacing: -1.8px;
    line-height: 50px;
}



.content p{
    line-height: 35px;
}

.btn{
    width: 105.7px;
    height: 45px;
    margin-left: 20px;
    letter-spacing: 1.2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover{
    color: #1ecb15;
}

.lux{
    background-color: #1ecb15;
    border: none;
    border-radius: 8px;
    color: white;
    letter-spacing: 1.2px;
}

.greenn{
    background-color: #1ecb15;
}

.lux:hover{
    color: white;
    background-color: #1ecb15;
}

.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 287.6px;
    width: 100vw;
    background-color: #179510;
    margin-top: -4px;
}
.contact h2{
    width: 736px;
    height: 100px;
    margin-top: 0;
  margin-bottom: 10px;
  font-size: 42px;
  letter-spacing: -1.8px;
  line-height: 50px;
  font-weight: 400;
  color: white;
}


.cont-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 160px;
}

.cont-left i{
    font-size: 48px;
    color: white;
}

.call{
    font-size: 12px;
    letter-spacing: 5px;
    color: white;
}

.ph-no{
    color: white;
    font-size: 36px;
  font-weight: bold;
}

.p-tag{
    height: 163.2px;
    width: 451px;
}





