/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.car-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.car-images {
    flex: 2;
    text-align: center;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.main-img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    display: block;
    transition: transform 0.3s ease; 
}

.main-img:hover {
    transform: scale(1.1); 
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.line {
    height: 5px;
    width: 50px;
    margin: 0 5px;
    background-color: #32CD32; 
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #306b30; 
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnails img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
}

.thumbnails img:hover {
    transform: scale(1.1); 
}

.car-info {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px; 
    font-size: 1.5em; 
}

.car-info h2 {
    margin-bottom: 10px;
    font-size: 1.5em; 
}

.car-info p {
    margin-bottom: 20px;
    font-size: 1.2em; 
}

.specifications {
    background-color: #E8E8E8;
    padding: 15px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.specification-list {
    display: flex;
    flex-direction: column;
}

.specification-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.spec-label {
    font-weight: bold;
}

.spec-value {
    text-align: right;
}

.pricing-table {
    text-align: center;
    margin: 20px 0;
}

.pricing-table h3 {
    margin: 0;
    font-size: 1.5em;
}

.pricing-table p {
    margin: 10px 0;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    color: var(--font--black--color);
    font-size: var(--middle--font-size);
    font-size: 1.5em; 
}

h2 {
    color: var(--font--black--color);
    font-size: var(--middle--font-size);
}

.daily-rate {
    background-color: #E8E8E8;
    padding: 10px; 
    border: 2px solid #0e0f0f;
    margin-bottom: 20px;
    text-align: center;
    width: 150px ;
    height: 150px; 
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.daily-rate h3 {
    margin: 0;
    font-size: 2em; 
}

.daily-rate p {
    margin: 5px 0; 
    font-size: 3em; 
    font-weight: bold;
}



