

*{
    margin: 0;padding: 0;box-sizing: border-box;
    color: white;
}

body{
    background-image: url('../images/assets/bmw-m5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 380px;
    height: 440px;
    overflow: hidden;
    background: #1c1c1c;
    /* border: 1px solid rgba(72, 67, 67, 0.5); */
    border-radius: 8px;
    backdrop-filter: blur(7px);
    display: none;
}

.wrapper form{
    position: absolute;
    left: 0;
    inset: 5px;
    background-color:#222;
    border-radius: 8px;
    padding: 5rem 4rem;
    z-index: var(--smallest--z-index);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg, transparent, transparent, green, green ,green);
    z-index: -1;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/* .dont{
    display: none;
}

.wrapper > h2{
    top: 26px;
    position: absolute;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

} */

/* #bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.wrapper > h1{
   position: relative;
   top: -3%; 
   color: white;
   font-weight: bolder;

} */
.inputbox{
    display: flex;
    width: 100%;
    position: relative;
}

.inputbox :nth-child(1){
    
    margin-bottom: 1.5rem;
}


.inputbox input{
    height:40px;
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    border-bottom: 3px solid gray;
    background-color: transparent;
    /* font-weight: bold; */
    padding: 0rem 3.5rem 0.5rem 0.5rem ;
}

.inputbox i{
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 0 0;
    height: 30px;
    width: 30px;
    background: transparent;
    font-size: 2.5rem;
}




.remember a{
    font-size: 1.7rem;
    width: 100%;
}




.signup{
    height: 40px;
    width: 160px;
    font-weight: bolder;
    background-color: green;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.signup:hover{
    background-color: rgba(0, 128, 0, 0.596);
}

.action{
    display: flex;
    flex-direction: column;
}
.none{
    display: none;
}


#fname{
    width: 37%;
    padding-left: 10px;
    padding-right: 27px;
    margin-left: 27px;
    height: 35px;
    border: none;
    background-color: transparent;
    /* border: 2px solid red; */
    border-bottom: 2px solid gray;
    margin-right: 10px;
    position: relative;
    top: 5px;
    outline: none;
}

.wrapper1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 1px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    display: none;
}


.wrapper1 > h2{
    position: relative;
    top: 1%;
    font-weight: bolder;
    
}

#email{
    width: 337px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 27px;
    height: 35px;
    border: none;
    background-color: transparent;
    /* border: 2px solid red; */
    border-bottom: 2px solid gray;
    margin-right: 10px;
    position: relative;
    top: 5px;
    outline: none;
}

#phone{
    width: 337px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 27px;
    height: 35px;
    background-color: transparent;
    /* border: 2px solid red; */
    border: none;
    border-bottom: 2px solid gray;
    margin-right: 10px;
    position: relative;
    top: 5px;
    outline: none;
}

.one{
    position: absolute;
  left: 154px;
  top: 12px;
}

.two{
    position: absolute;
    left: 343px;
    top: 12px;
}

.bx-phone{
    position: relative;
    left: -34px;
    top: 7px;
}

.wrapper1 > .inputbox > .bxs-lock-alt{
    position: relative;
    left: -34px;
    top: 8px;
}


#password,
#confirmPassword{
    width: 337px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 27px;
    height: 35px;
    border: none;
    background-color: transparent;
    /* border: 2px solid red; */
    border-bottom: 2px solid gray;
    margin-right: 10px;
    position: relative;
    top: 7px;
    outline: none;
}

.btn2{
    background-color: black;
    height: 40px;
    width: 90px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
    font-weight: bold;
    position: relative;
    top: 36px;
}

.btn2:hover{
    background-color: rgba(255, 255, 255, 0.719);
    color: black;
    font-weight: bold;
}

.wrapper1 > .remember > a{
    color: white;
    position: relative;
  right: 72px;
  top: 41px;

}

.top-17{
    position: relative;
    top: 17px;
}

.login{
    height: 40px;
    width: 90px;
    font-weight: bolder;
    background-color: green;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    top: -5px;
    left: 83px;

}

.login:hover{
    background-color: rgba(0, 128, 0, 0.596);
}


.line1{
    position: relative;
    top: 17px;
    width: 80%;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.active{
    display: flex;
    flex-direction: column;
    inset: 10px;
}
.nonactive{
    display: none;
}
.nonactive{
    display: none;
}