

/* ==================== utility Classes =================== */

.container {
    max-width: 90%;
    margin: 4rem auto;
}

h1 {
    font-size: var(--largest--font-size);
    color: var(--font--white--color);
    line-height: 50px;
    font-weight: var(--weight--normal);
}

h2 {
    font-size: var(--large--font-size);
    color: var(--font--black--color);
    font-weight: var(--weight--bolder);
}
h3{
    color: var(--font--white--color);
    font-size: var(--middle--font-size);
}
h4 {
    font-size: var(--small--font-size);
    color: var(--font--white--color);
    font-weight: var(--weight--semibold);
    line-height: 50px;
}

p {
    font-size: var(--smallest--font-size);
    color: var(--font--black--color);
    line-height: 25px;
}

a {
    color: var(--font--gray--color);
    font-size: var(--smallest--font-size);
    text-decoration: none;
}

button {
    position: relative;
    font-weight: var(--weight--bold);
    background-color: transparent;
    outline: none;
    border: none;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

i {
    font-size: var(--primary--size);
    color: var(--font--white--color);
    width: 5.4rem;
    height: 5.4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: var(--button--primary--bg--color);
    transition: all 0.3s ease-in-out;
}

ul {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.secondary__btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 50px; 
    background-color: var(--button--primary--bg--color);
    color: var(--font--white--color);
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 10px rgba(120, 202, 92, 0.6);
}

.primary__btn {
    background-color: var(--button--secondary--bg--color);
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    color: var(--font--white--color);
    transition: all 0.5s ease-in-out;
}

.primary__btn::before,
.secondary__btn::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 1%;
    width: 0%;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.primary__btn::after,
.secondary__btn::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    height: 1%;
    width: 0%;
    background: #fff;
    transition: all 0.5s ease-in-out;
}

.primary__btn:hover,
.secondary__btn:hover{
    border-radius: 0%;
    background-color: black;
}

.primary__btn:hover::after,
.primary__btn:hover::before,
.secondary__btn:hover::before,
.secondary__btn:hover::after{
    width: 100%;
}

.top{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0.5%;
    background-color: var(--font--white--color);
    transition: all 0.5s ease-in-out;   
}


.bottom{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0%;
    width: 0.5%;
    background-color: var(--font--white--color);
    transition: all 0.5s ease-in-out;
}

button:hover .top,
button:hover .bottom{
    height: 100%;
}

.styling__content {
    display: inline-block;
    color: var(--font--primary--color);
}

.underline__style {
    display: block;
    width: 7%;
    height: 5px;
    background-color: var(--font--primary--color);
    margin: 1rem auto;
    transform: skewX(-50deg);
}