<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404|Page Not Found</title>
    <link rel="stylesheet" href="{% static './css/404.css' %}" />
    <link rel="stylesheet" href="{% static './css/utilityClasses.css' %}" />
    <link rel="stylesheet" href="{% static './css/base.css' %}" />
  </head>
  <body>
    <div class="content">
      <div class="left__404">
        <h1 class="text_1">Something's missing.</h1>
        <p class="text_2">
          Looks like this page is missing. Don't worry though, our best team is
          on the case.
        </p>
        <button>
          <span class="top"></span>
          <a href="#" class="secondary__btn send__mail" id="btnn">Go back</a>
          <span class="bottom"></span>
        </button>
      </div>
      <div class="right__404">
        <h1>404</h1>
        <p>Not Found </p>
      </div>
    </div>
  </body>
</html>
