
{% extends 'base.html' %}

{% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->

{% block csslink %} <link rel="stylesheet" href="../static/css/home.cs" /> {% endblock %}


<!--------------------------------------- Title --------------------------------------->

{% block title %}{% endblock %}



{% block body %}

{% endblock %}

 <!--------------------------------------- Javascript Link -------------------------------------->

 {% block javascript %} {% endblock %}
