
{% extends 'base.html' %}

{% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->

{% block cssLink %} <link rel="stylesheet" href="../static/css/home.css" /> {% endblock %}


<!--------------------------------------- Title --------------------------------------->

{% block title %}{% endblock %}

<!--------------------------------------- Javascript Link -------------------------------------->

{% block javascript %} <script src=""></script> {% endblock %}


{% block body %}

{% endblock %}

 <!--------------------------------------- Javascript Link -------------------------------------->

