{% extends 'base.html' %}

{% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->

{% block cssLink %}
<link rel="stylesheet" href="{% static 'css/carDetail.css' %}" />

{% endblock %}

<!--------------------------------------- Title --------------------------------------->

{% block title %}
Car Details
{% endblock %}

<!--------------------------------------- Javascript Link -------------------------------------->

{% block javascript %}
<script src="{% static 'javascript/carDetail.js' %}"></script> {% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="car-details">
            <div class="car-images">
                <div class="image-container">
                    <img id="mainImage" class="main-img" src="{% static 'images/assets/car1.jfif' %}" alt="Car Image">
                </div>
                <div class="indicators">
                    <div class="line" onclick="currentImage(0)"></div>
                    <div class="line" onclick="currentImage(1)"></div>
                    <div class="line" onclick="currentImage(2)"></div>
                </div>
<!--                 
                <div class="indicators">
                    <span class="line" onclick="currentImage(0)"></span>
                    <span class="line" onclick="currentImage(1)"></span>
                    <span class="line" onclick="currentImage(2)"></span>
                    
                </div> -->
                <div class="thumbnails">
                    <img src="{% static 'images/assets/car1.jfif' %}" onclick="changeImage('../static/images/assets/car3.jfif', 1)" alt="Thumbnail 1">
                    <img src="{% static 'images/assets/car2.jfif' %}" onclick="changeImage('../static/images/assets/car3.jfif', 2)" alt="Thumbnail 2">
                    <img src="{% static 'images/assets/car3.jfif' %}" onclick="changeImage('../static/images/assets/car3.jfif', 3)" alt="Thumbnail 3">
                </div>
            </div>
            <div class="car-info">
                <h2>Nissan Altima 2024</h2>
                <p>A spacious interior, impressive fuel economy and a generous list of standard safety features make the 2024 Nissan Altima a solid midsize sedan for families or anyone wanting a roomy car.</p>
                <div class="specifications">
                    <h3>Specifications</h3>
                    <div class="specification-list">
                        <div class="specification-item">
                            <div class="spec-label">Body:</div><div class="spec-value">Sedan</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Seat:</div><div class="spec-value">5 seats</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Door:</div><div class="spec-value">4 doors</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Luggage:</div><div class="spec-value">150 liters</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Fuel Type:</div><div class="spec-value">Hybrid</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Engine:</div><div class="spec-value">3000 cc</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Year:</div><div class="spec-value">2024</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Mileage:</div><div class="spec-value">200 miles</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Transmission:</div><div class="spec-value">Automatic</div>
                        </div>
                        <div class="specification-item">
                            <div class="spec-label">Drive:</div><div class="spec-value">AWD</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="daily-rate">
                <h3>Daily Rate</h3>
                <p>$50</p>
            </div>

        </div>
    </div>
</main>
{% endblock %}
