{% extends 'base.html' %}

{% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->

{% block cssLink %}
<link rel="stylesheet" href="../static/css/contact.css" />
{% endblock %}

<!--------------------------------------- Title --------------------------------------->

{% block title %}{% endblock %}

{% block body %}

<div class="contact__main__header">
  <h1>Contact Us</h1>
</div>

<div class="main__contact__container container">
  <div class="contact__rentaly">
    <h2>Do you have any question?</h2>
    <div class="contact__info">
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Your Email" required>
      <input type="number" placeholder="Your Phone" required>
    </div>
    <textarea name id placeholder="Your Message" required></textarea>

    <button>
      <span class="top"></span>
      <a href="#" class="secondary__btn">Send Message</a>
      <span class="bottom"></span>
    </button>
  </div>

  <div class="testimonial__wrapper">
    <div class="quote-icon"><i class="fa-solid fa-quote-left" id="quote"></i></div>
    <div class="testimonial-container" id="testimonial-container"></div>
    <button id="prev">&lt;</button>
    <button id="next">&gt;</button>
  </div>

</div>

<h2 style="text-align: center;">
  Our <span class="styling__content"> Location</span>
  <span class="underline__style"></span>
</h2>
<div class="location__container container">
  <div class="contact__specification">
    <div class="contact__offices">
      <h2>Karachi Office</h2>
      <p><i class="fa-solid fa-location-dot"></i> &nbsp; 08 W 36th St, New York,
        NY 10001</p>
      <p><i class="fa-solid fa-phone"></i> &nbsp; +1 333 9296</p>
      <p style="color: #1ECB15;"><i class="fa-solid fa-envelope"></i> &nbsp;
        contact@example.com</p>
    </div>
    <div class="contact__offices">
      <h2>Islamabad Office</h2>
      <p><i class="fa-solid fa-location-dot"></i> &nbsp; 08 W 36th St, New York,
        NY 10001</p>
      <p><i class="fa-solid fa-phone"></i> &nbsp; +1 333 9296</p>
      <p style="color: #1ECB15;"><i class="fa-solid fa-envelope"></i> &nbsp;
        contact@example.com</p>
    </div>
    <div class="contact__offices">
      <h2>Multan Office</h2>
      <p><i class="fa-solid fa-location-dot"></i> &nbsp; 08 W 36th St, New York,
        NY 10001</p>
      <p><i class="fa-solid fa-phone"></i> &nbsp; +1 333 9296</p>
      <p style="color: #1ECB15;"><i class="fa-solid fa-envelope"></i> &nbsp;
        contact@example.com</p>
    </div>
  </div>
  <div class="map__upper__container">
    <div class="map-container">
      <img src="../static/images/assets/pk.svg" alt="">
      <div class="marker karachi-dot" title="Karachi"></div>
      <div class="marker-label karachi-label">Karachi</div>
      <div class="marker islamabad-dot" title="Islamabad"></div>
      <div class="marker-label islamabad-label">Islamabad</div>
      <div class="marker multan-dot" title="Multan"></div>
      <div class="marker-label multan-label">Multan</div>
    </div>
  </div>
</div>
{% endblock %}

<!--------------------------------------- Javascript Link -------------------------------------->

{% block javascript %}
<script src="../static/javascript/contact.js" defer></script>
 {% endblock %}
