{% extends 'base.html' %} {% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->

{% block cssLink %}
<link rel="stylesheet" href="../static/css/home.css" />
<!-- <link
  rel="stylesheet"
  href="../static/css/cdn.jsdelivr.net_npm_swiper@10.3.1_swiper-bundle.min.css"
/> -->
{% endblock %}

<!--------------------------------------- Title --------------------------------------->

{% block title %}{% endblock %}
<!--------------------------------------- Javascript Link -------------------------------------->

{% block javascript %}
<script src="../static/javascript/index.js" defer></script>
<!-- <script
  src="../static/javascript/cdn.jsdelivr.net_npm_swiper@10.3.1_swiper-bundle.min.js"
  defer
></script> -->

<!-- Initialize Swiper -->
<!-- <script src="../static/javascript/script.js" defer></script> -->
{% endblock %} {% block body %}

<!---------------------- HOME ---------------------->

<!-------- Home Main  -------->

<div class="hero__home container">
  <div class="hero__content">
    <div class="hero__main__heading">
      <h1>
        Explore the world with <br />
        comfortable car
      </h1>
    </div>
    <div class="hero__main__paragraph">
      <p style="color: rgba(255, 255, 255, 0.75)">
        Embark on unforgettable adventures and discover the world in
        unparalleled <br />
        comfort and style with our fleet of exceptionally comfortable cars.
      </p>
    </div>
    <div class="hero__social__link">
      <div class="social__trophy">
        <i class="fa-solid fa-trophy"></i>
        <div class="trophy__content">
          <p style="color: #1ecb15">First class services</p>
          <p style="color: rgba(255, 255, 255, 0.75)">
            Est dolore ut laboris eu enim <br />
            veniam nostrud esse laborum
          </p>
        </div>
      </div>
      <div class="social__road">
        <i class="fa-solid fa-road"></i>
        <div class="road__content">
          <p style="color: #1ecb15">24/7 road assistance</p>
          <p style="color: rgba(255, 255, 255, 0.75)">
            Est dolore ut laboris eu enim <br />
            veniam nostrud esse laborum
          </p>
        </div>
      </div>
    </div>
    <button style="margin-top: 2rem">
      <span class="top"></span>
      <a href="#" class="primary__btn">Choose a car</a>
      <span class="bottom"></span>
    </button>
  </div>
</div>

<!---------------------- About Car rental Company ---------------------->

<div class="select__home">
  <ul class="select__main__cont">
    <li>
      <h4>Choose a vehicle</h4>
      <p style="color: rgba(255, 255, 255, 0.75)">
        Unlock unparalleled adventures and memorable journeys with our vast
        fleet of vehicles tailored to suit every need, taste, and destination.
      </p>
    </li>
    <li>
      <h4>Pick location & date</h4>
      <p style="color: rgba(255, 255, 255, 0.75)">
        Pick your ideal location and date, and let us take you on a journey
        filled with convenience, flexibility, and unforgettable experiences.
      </p>
    </li>
    <li>
      <h4>Make a booking</h4>
      <p style="color: rgba(255, 255, 255, 0.75)">
        Secure your reservation with ease, unlocking a world of possibilities
        and embarking on your next adventure with confidence.
      </p>
    </li>
    <li>
      <h4>Sit back & relax</h4>
      <p style="color: rgba(255, 255, 255, 0.75)">
        Hassle-free convenience as we take care of every detail, allowing you to
        unwind and embrace a journey filled comfort.
      </p>
    </li>
  </ul>
</div>

<!---------------------- Vehicle Fleet ---------------------->

<div class="feature__heading" style="margin-top: 7rem">
  <h2>
    Our <span class="styling__content"> Vehicle Fleet</span>
    <span class="underline__style"></span>
  </h2>
  <p style="color: #121212">
    Driving your dreams to reality with an exquisite fleet of versatile vehicles
    for
    <br />
    unforgettable journeys.
  </p>
</div>

<div class="vehcile__fleet__container  container">
  <!-- <div class="mySwiper"> -->
    <div class="main__fleet__box">
      <div class="fleet__box">
        <div class="vehicle__image">
          <img
            height="100%"
            width="100%"
            src="{% static './images/assets/lexus.jpg' %}"
            alt=""
          />
        </div>
        <div class="vehicle__description">
          <div class="description__box1">
            <h3 style="color: #121212">Ford Raptor</h3>
            <span
              ><i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </span>
          </div>
          <div class="description__box2">
            <span class="svg__img"
              ><img src="../static/images/assets/1-green.svg" alt="" />
              <p>5</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/2-green.svg" alt="" />
              <p>4</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/3-green.svg" alt="" />
              <p>2</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/4-green.svg" alt="" />
              <p>Sedan</p></span
            >
          </div>
          <div class="description__box3">
            <div class="price">
              <p>Daily rate from</p>
              <h2>$249</h2>
            </div>
            <button>
              <span class="top"></span>
              <a href="" class="primary__btn">Rent Now</a>
              <span class="bottom"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="fleet__box">
        <div class="vehicle__image">
          <img
            height="100%"
            width="100%"
            src="{% static './images/assets/lexus.jpg' %}"
            alt=""
          />
        </div>
        <div class="vehicle__description">
          <div class="description__box1">
            <h3 style="color: #121212">Ford Raptor</h3>
            <span
              ><i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </span>
          </div>
          <div class="description__box2">
            <span class="svg__img"
              ><img src="../static/images/assets/1-green.svg" alt="" />
              <p>5</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/2-green.svg" alt="" />
              <p>4</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/3-green.svg" alt="" />
              <p>2</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/4-green.svg" alt="" />
              <p>Sedan</p></span
            >
          </div>
          <div class="description__box3">
            <div class="price">
              <p>Daily rate from</p>
              <h2>$249</h2>
            </div>
            <button>
              <span class="top"></span>
              <a href="" class="primary__btn">Rent Now</a>
              <span class="bottom"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="fleet__box">
        <div class="vehicle__image">
          <img
            height="100%"
            width="100%"
            src="{% static './images/assets/lexus.jpg' %}"
            alt=""
          />
        </div>
        <div class="vehicle__description">
          <div class="description__box1">
            <h3 style="color: #121212">Ford Raptor</h3>
            <span
              ><i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </span>
          </div>
          <div class="description__box2">
            <span class="svg__img"
              ><img src="../static/images/assets/1-green.svg" alt="" />
              <p>5</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/2-green.svg" alt="" />
              <p>4</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/3-green.svg" alt="" />
              <p>2</p></span
            >
            <span class="svg__img"
              ><img src="../static/images/assets/4-green.svg" alt="" />
              <p>Sedan</p></span
            >
          </div>
          <div class="description__box3">
            <div class="price">
              <p>Daily rate from</p>
              <h2>$249</h2>
            </div>
            <button>
              <span class="top"></span>
              <a href="" class="primary__btn">Rent Now</a>
              <span class="bottom"></span>
            </button>
          </div>
        </div>
      </div>
     
    </div>

  <!-- </div> -->
  <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination" ></div> -->
</div>

<div class="about__section">
  <div class="about__car__rental container">
    <div class="about__car__rental__content">
      <h2>
        We offer customers a wide range of
        <span style="color: #1ecb15">commercial cars</span> and
        <span style="color: #1ecb15">luxury cars</span> for any occasion.
      </h2>
      <p>
        At our car rental agency, we believe that everyone deserves to
        experience the pleasure of driving a reliable and comfortable vehicle,
        regardless of their budget. We have curated a diverse fleet of
        well-maintained cars, ranging from sleek sedans to spacious SUVs, all at
        competitive prices. With our streamlined rental process, you can quickly
        and conveniently reserve your desired vehicle. Whether you need
        transportation for a business trip, family vacation, or simply want to
        enjoy a weekend getaway, we have flexible rental options to accommodate
        your schedule.
      </p>
    </div>
    <div class="about__company">
      <div class="about__vehicle">
        <h2 class="number" id="order">0</h2>
        <p>Complted Order</p>
      </div>
      <div class="about__vehicle">
        <h2 class="number" id="review">0</h2>
        <p>Happy Customers</p>
      </div>
      <div class="about__vehicle">
        <h2 class="number" id="vehicle">0</h2>
        <p>Vehicles Fleet</p>
      </div>
      <div class="about__vehicle">
        <h2 class="number" id="experience">0</h2>
        <p>Years Experience</p>
      </div>
    </div>
  </div>
</div>

<!---------------------- FEATURES ---------------------->

<div class="main__feature__home container">
  <div class="feature__heading">
    <h2>
      Our <span class="styling__content"> Features</span>
      <span class="underline__style"></span>
    </h2>
    <p style="color: #121212">
      Discover a world of convenience, safety, and customization, paving the way
      for <br />
      unforgettable adventures and seamless mobility solutions.
    </p>
  </div>

  <div class="feature__content">
    <div class="feature__content__con1">
      <div class="social__trophy" style="align-items: flex-start">
        <i class="fa-solid fa-trophy"></i>
        <div class="trophy__content change__styling">
          <p style="color: #1ecb15; font-weight: 600">First class services</p>
          <p>
            Where luxury meets exceptional care, creating unforgettable moments
            and exceeding your every expectation.
          </p>
        </div>
      </div>
      <div class="social__road" style="align-items: flex-start">
        <i class="fa-solid fa-road"></i>
        <div class="road__content change__styling">
          <p style="color: #1ecb15; font-weight: 600">24/7 road assistance</p>
          <p>
            Reliable support when you need it most, keeping you on the move with
            confidence and peace of mind.
          </p>
        </div>
      </div>
    </div>
    <div class="feature__content__con2">
      <img
        src="{% static './images/assets/car-2.png' %}"
        alt="Feature Car Pic"
      />
    </div>
    <div class="feature__content__con3">
      <div
        class="social__trophy"
        style="align-items: flex-start; flex-direction: row-reverse"
      >
        <i class="fa-solid fa-tag"></i>
        <div class="trophy__content change__styling" style="text-align: right">
          <p style="color: #1ecb15; font-weight: 600">
            Quality at Minimum Expense
          </p>
          <p>
            Where luxury meets exceptional care, creating unforgettable moments
            and exceeding your every expectation.
          </p>
        </div>
      </div>
      <div
        class="social__trophy"
        style="align-items: flex-start; flex-direction: row-reverse"
      >
        <i class="fa-solid fa-map-pin"></i>
        <div class="trophy__content change__styling" style="text-align: right">
          <p style="color: #1ecb15; font-weight: 600">
            Free Pick-Up & Drop-Off
          </p>
          <p>
            Enjoy free pickup and drop-off services, adding an extra layer of
            ease to your car rental experience
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="latest__feature__home container">
    <div class="feature__heading">
      <h2>
        Latest <span class="styling__content"> News</span>
        <span class="underline__style"></span>
      </h2>
      <p style="color: #121212">
        Breaking news, fresh perspectives, and in-depth coverage - stay ahead
        <br />
        with our latest news, insights, and analysis.
      </p>
    </div>

    <div class="latest__feature__cont">
      <div class="latest__feature__content">
        <div class="latest__feature__image">
          <div class="date__container">
            <div>10</div>
            <div>MAR</div>
          </div>
          <img
            src="{% static './images/assets/1.jpg' %}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>

        <div class="latest__content">
          <h4 style="font-weight: 600; color: #121212">
            Enjoy Best Travel Experience
          </h4>
          <p>
            Traveling is an enriching experience that allows us to explore new
            destinations, immerse ourselves in different cultures, and create
            lifelong memories.
          </p>
          <button>
            <span class="top"></span>
            <a href="#" class="primary__btn">Read More</a>
            <span class="bottom"></span>
          </button>
        </div>
      </div>

      <div class="latest__feature__content">
        <div class="latest__feature__image">
          <div class="date__container">
            <span>12</span>
            <span>MAR</span>
          </div>
          <img
            src="{% static './images/assets/2.jpg' %}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>

        <div class="latest__content">
          <h4 style="font-weight: 600; color: #121212">
            The Future of Car Rent
          </h4>
          <p>
            As technology continues to advance at a rapid pace, the car rental
            industry is poised for a transformative shift. The future of car
            rental promises
          </p>
          <button>
            <span class="top"></span>
            <a href="#" class="primary__btn">Read More</a>
            <span class="bottom"></span>
          </button>
        </div>
      </div>

      <div class="latest__feature__content">
        <div class="latest__feature__image">
          <div class="date__container">
            <span>14</span>
            <span>MAR</span>
          </div>
          <img
            src="{% static './images/assets/3.jpg' %}"
            alt=""
            width="100%"
            height="100%"
          />
        </div>

        <div class="latest__content">
          <h4 style="font-weight: 600; color: #121212">
            Holiday Tips For Backpacker
          </h4>
          <p>
            For adventure seekers and budget-conscious travelers, backpacking
            offers a thrilling and immersive way to explore the world. Whether
            you're embarking.
          </p>
          <button>
            <span class="top"></span>
            <a href="#" class="primary__btn">Read More</a>
            <span class="bottom"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="question__container">
    <div class="question__heading">
      <h2>
        Have Any <span class="styling__content"> Questions?</span>
        <span class="underline__style"></span>
      </h2>
    </div>
    <div class="container quention__box">
      <div class="question__content">
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
      </div>
      <div class="question__content">
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
        <div class="questions">
          <p>
            How do I get started with Car Rental?
            <img
              src="{% static './images/assets/arrow-down-light.png' %}"
              class="questionArrow"
              alt
            />
          </p>
          <p class="answer__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="marquee__about__car">
  <div class="marquee">
    <div class="marquee__inner">
      <span class="marquee__txt">SUV</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Hatchback</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Crossover</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Convertible</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Sedan</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Sports Car</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Minivan</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Exotic Cars</span>
      <span class="marquee__dot"></span>
      <span class="marquee__txt">Truck</span>
      <span class="marquee__dot"></span>
    </div>
  </div>
</div>
{% endblock %}
