{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/utilityClasses.css">

</head>

<body>

        <!-- <div class="wrapper1 nonactive" id="sign" >
            <h2>SIGN UP </h2>
            <div class="inputbox top-17">
                <input type="text" placeholder="First Name" required id="fname">
                <i class='bx bx-user one'></i>
                <input type="text" placeholder="Last Name" required id="lname">
                <i class='bx bx-user two'></i>
                <input type="email" placeholder="Email Address" required id="email">
                <i class='bx bxs-envelope mail'></i>
                <input type="text" placeholder="Phone Number" required id="phone">
                <i class='bx bx-phone'></i>
                <input type="password" placeholder="Password" id="password" required>
                <i class='bx bxs-lock-alt'></i>
                <input type="password" placeholder="Confirm Password" id="confirmPassword" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div><button class="btn2"><a href="">Sign Up</a></button></div>
            <div class="remember"><a href="">Already have an account?</a></div>
            <div class="register">
                <button class="login" id="btn22">Log In</button>
            </div> -->
    </div>

    <div class="wrapper active" id="log">
        <form action="">
            <h3 style="margin-bottom: 2rem;">LOGIN</h3>

            <div class="inputbox">
                <input type="email" placeholder="Email or phone number" required>
                <i class='bx bx-user'></i>
            </div>

            <div class="inputbox">
                
                <input type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt lock'></i>
            </div>

            
            <button class="btn1">
                <span class="top"></span>
                <a href="#" class="secondary__btn">LogIn</a>
                <span class="bottom"></span>
            </button>
            
            <div class="remember">
                <p style="color: #fff;">Not a member? <a href="" style="color: #1ECB15;">Signup</a></p>
            </div>
            <!-- <div class="line"></div>
            <div class="register">
                <button id="btn11" class="signup "></button> -->
            
        </form>
    </div>
    </div>

    <script src="../static/javascript/login.js"></script>
</body>

</html>