{% extends 'base.html' %} 

{% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->
{% block cssLink %}
<link rel="stylesheet" href="../static/css/login.css" />
{% endblock %}

<!--------------------------------------- Title --------------------------------------->
{% block title %}{% endblock %}

<!--------------------------------------- Javascript Link -------------------------------------->
{% block javascript %} {% endblock %}

<!--------------------------------------- Body -------------------------------------->
{% block body %}

<div class="main__wrapper">
  <div class="wrapper active" id="log">
    <form method="post" action="{% url 'login' %}" role="form">
      {% csrf_token %}

      <!-- {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %} -->
      <h2>Login</h2>

      <div class="inputbox">
        <input
          type="email"
          placeholder="Email"
          required
          style="background: transparent"
          name="email"
        />
        <i class="fa-solid fa-user"></i>
      </div>

      <div class="inputbox">
        <input
          type="password"
          placeholder="Password"
          required
          style="background: transparent"
          name="password"
          minlength="8"
        />
        <i class="fa-solid fa-lock"></i>
      </div>

      <button class="btn1" type="submit">
        <a class="account__btn">Login</a>
      </button>

      <div class="reminber">
        <p style="color: #fff">
          Create an Account?
          <a href="{% url 'signup' %}" style="color: #179510">&nbsp; Signup</a>
        </p>
      </div>
    </form>
  </div>
</div>

<script src="../static/javascript/login.js"></script>
{% endblock %}
