{% extends 'base.html' %} {% load static %}

<!--------------------------------------- CSS Styling Link -------------------------------------->
{% block cssLink %}
<link rel="stylesheet" href="{% static './css/userdashboard.css' %}" />

{% endblock %}

<!--------------------------------------- Title --------------------------------------->
{% block title %} {% endblock %}

<!--------------------------------------- Javascript Link -------------------------------------->
{% block javascript %}
<script src="{% static './javascript/reviewdashboard.js' %}" defer></script>
{% endblock %}

<!--------------------------------------- Body -------------------------------------->
{% block body %}

<!---------------------- User Dash Board  ---------------------->

<div class="main-review">
  <form class="review-container" method="post" role="form" action="">
    {% csrf_token %}
    <i class="fa-solid fa-xmark" id="review-cross"></i>
    <div class="r_cont">
      <p class="">Rating Star</p>
      <span></span>
    </div>

    <div class="rating_star">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <input type="hidden" value="" name="rating" id="hidden-input" >
    </div>

    <div class="r_cont">
      <p class="">Write a message?</p>
      <span class="imp"></span>
    </div>
    <textarea
      name="reviewmessage"
      placeholder="Your Message"
      maxlength="50"
      id="message"
    ></textarea>

    <button type="submit">
      <a class="review__btn2">Submit</a>
    </button>
  </form>
</div>

<!-------- User Dash Board Header -------->

<div class="profile__main__header">
  <h1>Reviews</h1>
</div>

<section
  style="background: #f5f8fa; padding: 90px 0 90px 0; position: relative"
>
  <div class="main__user__dashboard container">
    <div class="profile__dashboard">
      <div class="profile__view">
        <img src="{% static './images/assets/profile.jpg' %}" alt="" />
        <h4>Monica Lucas</h4>
        <p>monica@rentaly.com</p>
      </div>

      <ul class="select__view">
        <li
          class="dashboard_links {% if request.path == '/userdashboard' %} buttonActive {% endif %}"
        >
          <i class="fa-solid fa-house-chimney"></i
          ><a href="{% url 'userdashboard' %}">Dashboard</a>
        </li>
        <li
          class="dashboard_links {% if request.path == '/reviewdashboard' %} buttonActive {% endif %}"
        >
          <i class="fa-solid fa-user"></i
          ><a href="{% url 'reviewdashboard' %}">Reviews</a>
        </li>
        <li class="dashboard_links">
          <i class="fa-solid fa-calendar-days"></i><a href="#">My Order</a>
        </li>
        <li class="dashboard_links">
          <i class="fa-solid fa-car"></i><a href="#">My Favorite Car</a>
        </li>
        <li class="dashboard_links">
          <i class="fa-solid fa-right-from-bracket"></i
          ><a href="#" id="user-signout">Sign Out</a>
        </li>
      </ul>
    </div>
    <div class="rentaly__dashboard">
      <div class="rentaly__dashboard__innerbox2">
        <h4>Completed Orders</h4>
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Car Name</th>
              <th>Booking date</th>
              <th>Pick Up Date</th>
              <th>Return Date</th>
              <th>Reviews</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="order__id">#01236</span></td>
              <td><p>Jeep Renegade</p></td>
              <td><p>March 10, 2023</p></td>
              <td><p>March 2, 2023</p></td>
              <td><p>March 10, 2023</p></td>
              <td>
                <button class="status completed button">
                  <a class="review__btn">Review</a>
                </button>
              </td>
            </tr>
            <tr>
              <td><span class="order__id">#01263</span></td>
              <td><p>Mini Cooper</p></td>
              <td><p>March 10, 2023</p></td>
              <td><p>March 8, 2023</p></td>
              <td><p>March 10, 2023</p></td>
              <td>
                <button class="status completed button">
                  <a class="review__btn">Review</a>
                </button>
              </td>
            </tr>
            <tr>
              <td><span class="order__id">#01245</span></td>
              <td><p>Ferrari Enzo</p></td>
              <td><p>March 10, 2023</p></td>
              <td><p>March 6, 2023</p></td>
              <td><p>March 10, 2023</p></td>
              <td>
                <button class="status completed button">
                  <a class="review__btn">Review</a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}
